.embla {
  --slide-spacing: 1rem;
  --slide-size: 33.33%;
  --slide-height: auto;
  width: 100%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  flex-direction: row;
  height: auto;
  padding: 35px 0 35px 35px;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  padding-right: var(--slide-spacing);
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

/* Mobile specific styles */
@media (max-width: 768px) {
  .embla {
    --slide-size: 85%;
    --slide-spacing: 1rem;
  }
  
  .pc-card {
    height: 55vh;
    max-height: 350px;
    aspect-ratio: 0.65;
  }
}

@media (max-width: 480px) {
  .embla {
    --slide-size: 80%;
    --slide-spacing: 0.5rem;
  }
  
  .pc-card {
    height: 45vh;
    max-height: 300px;
    aspect-ratio:0.8;
  }
}